{% extends "base.html" %}

{% block title %}Tu carrito · Glowbox{% endblock %}

{% block content %}
  <h2>Tu carrito</h2>

  {% if cart.items.all %}
    <table class="table">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Subtotal</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for it in cart.items.all %}
          <tr>
            <td>
              {% if it.producto.slug %}
                <a class="und" href="{% url 'catalog:product_detail' it.producto.slug %}">
                  {% firstof it.producto.nombre it.producto.name %}
                </a>
              {% else %}
                {% firstof it.producto.nombre it.producto.name %}
              {% endif %}
            </td>
            <td>$ {% firstof it.producto.precio it.producto.price %}</td>
            <td>{{ it.cantidad }}</td>
            <td>$ {{ it.subtotal|floatformat:2 }}</td>
            <td>
              <form method="post" action="{% url 'cart:dec' it.producto.id %}">{% csrf_token %}
                <button class="btn btn-pill btn-ghost" title="−1">−</button>
              </form>
              <form method="post" action="{% url 'cart:inc' it.producto.id %}">{% csrf_token %}
                <button class="btn btn-pill btn-primary" title="+1">+</button>
              </form>
              <form method="post" action="{% url 'cart:remove' it.producto.id %}">{% csrf_token %}
                <button class="btn btn-danger" title="Quitar">Quitar</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot class="tfoot-strong">
        <tr>
          <td colspan="3" class="right">Total</td>
          <td>$ {{ cart.total|floatformat:2 }}</td>
          <td></td>
        </tr>
      </tfoot>
    </table>
    <form method="post" action="{% url 'orders:checkout' %}">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Ir a pagar</button>
    </form>
  {% else %}
    <p>Tu carrito está vacío.</p>
    <p><a class="und" href="{% url 'catalog:product_list' %}">Seguir comprando</a></p>
  {% endif %}
{% endblock %}
